version: '3'

services:
  db:
    image: postgres:14.3
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    container_name: pomodoro_db
    volumes:
      - ./postgres:/var/lib/postgresql/data
    networks:
      - pomodoro_network

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pomodoro_app
    restart: always
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=production
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
    depends_on:
      - db
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    networks:
      - pomodoro_network

networks:
  pomodoro_network:
    driver: bridge
